<h1>Welcome, <%= @user.first_name %>!</h1>

  
  <%= link_to "Create a Job", new_job_path %>
  <br>
  <%= link_to "Create an Event", new_event_path %>
  <br>
  <%= link_to "Logout", logout_path, method: "delete" %>