event info with total list of registered users, ability to register for event for profile info
<br>
<br>
<h3>Event Name:</h3>
<%= @event.name %>
<br>
<br>
<h3>Description:</h3>
<%= @event.description %>
<br>
<br>
<h3>Agenda:</h3>
<%= @event.agenda %>
<br>
<br>
<h3>Event Time:</h3>
<%= @event.event_time %>
<br>
<br>